@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body 
{
    font-family: Cinzel, Arial, sans-serif;
    background-color: #622B14;
    margin: 0;
    padding: 20px;
}

h1, h2{
    color: black;
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
    background-color: #995f2f;
    padding: 20px;
    border-radius: 10px;

}
p {
    color: black;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    background-color: #f0d8a1;
    padding: 15px;
    border-radius: 10px;

}
div {
    padding: 20px;
    border-radius: 30px;
    background-color: #dd9e59;
}
img {
    vertical-align: middle;
}
a {
    display: inline-block;
    background-color: #978F66;
    color: white;
    border: none;
    padding: 14.5px 0px;
    text-decoration: none;
    width: 265px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    font-family: Cinzel, Arial, sans-serif;
    text-align: center;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 25px;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ol {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}
.nav-link {
    display: inline-block;
    background-color: #978F66;
    color: white;
    border: none;
    padding: 3px 3px;
    text-decoration: none;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    font-family: Cinzel, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
}

.homeback{
    background-color: #622b14;
    display: block;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
    width: 20;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}
